body{
    background-color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
    h1{text-align: center;
        border-color: darkorange;
    }
    
}

a:link {color: orange; text-decoration: none;}
a:hover {color: darkgoldenrod; font-weight: bold;}

table {
    width: 50%;
    margin: 0 auto; 
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    
}
th {
    text-align: center;
    background-color: #f2f2f2;
}