body{
    background-color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
    h1{text-align: center;
        border-color: darkorange;
    }
    
}

a:link {color: orange; text-decoration: none;}
a:hover {color: darkgoldenrod; font-weight: bold;}